<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ruhan Bello</h1>
                <h3>Hey, I'm a game develop from Brazil with focus on game programming, specifically on project management, creating and maintaining nice code architectures.</h3>
				<h3>Currently, I work at Mafu Games, a brazilian indie game studio. At the studio, we work in our own game projects and we work as freelancers, performing jobs both for people in and out of Brazil.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/MafuLogo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
		<div class="row">
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->