<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Ruhan Bello</h1>
                <h3>Hey, I'm a game developer from Brazil with focus on game programming. I have experience in project management, dealing with programmers, artists, sound designers and other types of developers, during the whole creation of the games. I also have experience on creating games from scratch to launch. </h3>
				<h3>As a programmer, I do my best to create clean and well architectured code so it can be an enjoyable experience for me and my coworkers.</h3>
				<h3>Currently, I work at Mafu Games, a brazilian indie game studio. At the studio, we work on our own game projects and we also work as freelancers.</h3>
            </div>
			<div class="col-lg-8 col-lg-offset-2 himg">
				<img src="{{ "/assets/img/Ruhan.jpg" | prepend: site.baseurl }}" class="img-responsive">
			</div>
			
			<div class="col-lg-8 col-lg-offset-2 himg">
				<img src="{{ "/assets/img/MafuLogo.png" | prepend: site.baseurl }}" class="img-responsive">
			</div>
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->